{% extends "base.html" %}

{% block title %}Our Services - Al-Ameen Electrical Maintenance Works{% endblock %}

{% block content %}
<section id="services" class="bg-light py-5">
    <div class="container">
        <h2 class="text-center">Our Services</h2>
        <div class="row">
            <div class="col-md-4">
                <h4>Surface Wiring</h4>
                <p>High-quality surface wiring services.</p>
            </div>
            <div class="col-md-4">
                <h4>Conduit Wiring</h4>
                <p>Reliable conduit wiring solutions.</p>
            </div>
            <div class="col-md-4">
                <h4>Industrial Wiring</h4>
                <p>Expert industrial wiring for your business.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}